@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #0A2239;
    --secondary-color: #53A2BE;
    --accent1-color: #176087;
    --accent2-color: #132E32;

    --heading-font: "Hachi Maru Pop", cursive;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: var( --primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--secondary-color);
}

header{
    margin: 1rem auto;
    display: grid;
    border-bottom: 1px solid #ccc;
    font-family: var(--heading-font);
    max-width: 840px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p{
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.sociallinks a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.sociallinks img{
    width: 50px;
    height: 50px;
}

* {
	margin: 0;
	padding: 0;
}
body{
    max-width: 840px;
	margin: 0;
}


main {
	
	font-family: var(--paragraph-font);
    
}

footer {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 70% 30% ;
    grid-template-rows: 1fr;
    padding: 15px;
}


.history-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.adventure-section{
    display: grid;
    align-items: center;
    gap: 5px;
}

.adventure-section h2{
    grid-column: 1/6;
    grid-row: 1/2;
    justify-items: center;
}

.adventure-section img{
    width: 150px;
    height: 100px;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    
    
}

.nav-bar img{
    width: 100px;
    height: 100px;
}

.nav-bar a{
    padding: 20px;
}

.nav-bar a:link{
    text-decoration: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

.nav-bar a:visited{
    text-decoration: none;
    color: var(--nav-link-color);
}

.nav-bar a:hover{
    text-decoration: none;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}






.hero {
	
	position: relative; 
}

.hero p{
    color: white;
}

.hero h1 {
	position: absolute;
	top: 25px;
	
    background-color: #0a090a;
    width: 840px;
    text-align: center;
    color: white;
    opacity: .50;
}

.hero article {
	position: absolute;
	left: 100px;
    top: 300px;
    width: 80%;
    height: 80px;
    background-color: #0a090a;
    opacity: 0.90;
    padding: 10px;
    
    
    
}

.hero article img{
    float: right;
    
    /* right: 0px;*/
    width: 100px;
    height: 80px; 
    
}
 
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}




