@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Open+Sans&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #9EB3C2;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    font-family: Aclonica, Tahoma, sans-serif;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: white;
}

body {
    background-color: #21295c;
    font-family: Open Sans, Courier, monospace;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #21295c;
}

nav a :hover {
    background-color: #9EB3C2;
    color: #7692ff;
}

.book, .join{
    background-color: #21295c;
    color: #9EB3C2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #9EB3C2;
    color: #7692ff;
}
.msg{
    background-color: #21295c;
    padding: 35px;
}
.msg h2{
    color: #9EB3C2;
}
.msg p{
    color: #9EB3C2;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #21295c;
    color:#9EB3C2;
    padding: 25px 50px;
}
footer .social img{
    padding-top: 15px;
}
footer a{
    color: #9EB3C2;
    text-decoration: none;
}
footer a:hover{
    color: #9EB3C2;
}
footer p {
    font-size: 1.2em;
    
}
footer p a:hover {
    text-decoration: underline;
}
.home-title {
    color: #9EB3C2;
    font-family: Aclonica, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #9EB3C2;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
h2{
    margin: 0;
}
.icon{
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
footer {
    margin-top: 200px;
}

.card-img{
    border: 10px, solid, black;
}

main section img{
    box-sizing: border-box;
}