@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    justify-items: center;
    max-width: 650px;
    margin: 0 auto;
}

body{
    font-family: fresca;
    font-size: 1.2em;
    color: #333333;
    background: #fff;
}
form{
    width: 650px;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

label, input, button, select, textarea{
    font-family: fresca;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1em;
}

button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.form-container{
    
    display: grid;
    align-items: center;
    
}

.column{
    margin: 0;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}